<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.shisashi.android.lib.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="SlidingStackableView" >
        <activity
            android:name=".TestActivity"
            android:label="SlidingStackableView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>